/*colors*/
$primary-1:#03a9f4;
$primary-2:#f75e2e;
$primary-3:#ecfa4d;
$primary-4:#656a70;

/*light - color*/
$li-1: mix($primary-1,#fff,60%)
$li-2: mix($primary-1,#fff,25%)
$li-3: mix($primary-1,#fff,10%)

/*darl color primary-1*/

$d1-1:mix($primary-1,#000,80%)
$d1-2:mix($primary-1,#000,50%)
$d1-3:mix($primary-1,#000,30%)


