/* ubralu vidstupu vsih elementiv */
body,p,h1,h2,h3,h4,
h5,h6,ul,ol,
header,footer, main,
nav,aside,article,
section{
    margin: 0;
    padding: 0;
}
.header{
    background-color: $primary-1;
    // height: 100px; 
    background-size: cover;
    padding: 10px 0 10px;
}
.logo{
    margin-right: 15px;
}
.d-flex span{
    @include text(yellow,20px,'Poppins-Light');
}
.d-flex p{
    @include text(white,13px,'OpenSans');
}
.menu1{
    list-style-type: none; 
    }
.menu1 li{
    display: inline;
  }
  .menu1 i{
      color: white;
      font-size: 15px;
      margin-left: 5px;}  
.menu1 a:hover{
      background-color: $primary-4;
  }
.menu2{
    list-style-type: none; 
    justify-content: space-evenly
    }
.menu2 li{
    display: inline;}
.name{
    @include text(white,29px,'Poppins-Light');
    margin: 0;
   }
   #net{
       font-size: 13px;
       color: white;
   }
.menu1 a{
    color: white;
    font-family: 'Poppins-SemiBold';
    font-size:15px;
    text-decoration: none;
    margin-right: 15px;
}
.menu2 a{
    color: white;}
.blue{
    text-transform: uppercase;
    background-color:  $d2-1;
    border: none;
    @include text(white,12px,'Poppins-SemiBold');
    padding: 10px 30px;
    border-radius: 5px;
}
.blue:hover{
    background-color: $l2-1;
}

.blue:disabled{
    background-color: $l2-4;
}
.red{
    text-transform: uppercase;
    background-color:  $primary-2;
    border: none;
    @include text(white,12px,'Poppins-SemiBold');
    padding: 10px 30px;
    border-radius: 5px;
}
.red:hover{
    background-color: $l1-2;
}
i{
    font-size: 25px;
}
@media(max-width: 1200px){
    .menu1 a{
        color: white;
        font-family: 'Poppins-SemiBold';
        font-size:10px;
        text-decoration: none;
        margin-right: 5px;
    }
    .li{
        display: flex;
        justify-content: space-evenly;
    }
  
}
@media(max-width: 992px){
    .menu2{
        display: flex;
        justify-content: space-around;
    }
}