.s_p1{
    @include text ($l1-1,15px,'Poppins-Medium');
    text-align: center;
    
}
.s_h3{
    @include text(black,33px,'Poppins-Medium');
    text-align: center;
    margin: 20px 0 60px;
}
.p1{
    @include p;
    text-align: center;
}
.s_h5{
    @include h5;
    color: $primary-1;
    text-align: center;
    margin: 30px 0 20px;
}
.s_p2{
    @include text($l1-4,13px,'Poppins-Light');
    text-align: center;
}
.s_img{
    text-align: center;
    margin-bottom:  20px;
}
@media (max-width:576px){
   .slide{ margin-top: 250px;}
   .s_h3{
       margin: 20px 0 0;
   }
   #slide2{
       margin-top: 50px;
   }
}