.advanteges{
    background: url(../../../img/advanteges/bg.png) no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
}
#h6_a{
    @include text(white,14px,'Poppins-Regular');
    text-align: center;
    margin-top: 50px;
}
.h2_a{
    @include h2;
    color: white;
    text-align: center;
    margin: 20px 50px;
}
.block{
    background-color: white;
    padding: 30px 40px 40px;
    text-align: center;
}
.h5_a{
    @include h5;
    margin-top: 10px;

}
#p_a{
    @include p;
    color: $l1-4;
    margin-top: 15px;
}
.blue2{
    text-transform: uppercase;
    background-color:  $d1-1;
    border: none;
    @include text(white,12px,'Poppins-Bold');
    padding: 15px 70px;
    border-radius: 5px;
    margin-top: 50px;    
}
.blue2:hover{
    background-color: $l2-1;
}
@media (max-width: 991px) {
    .flexa{
        flex-wrap: wrap
    }
    .h2_a{
        font-size: 25px;
    }
    .block{
        height: 85%;
        padding: 10px 15px 5px;
    }
    .block img{
        height: 40%;
    }
    .h5_a{
        font-size: 13px;
    }
    #p_a{
        font-size: 10px;
    }
    #h6_a{
        margin-top: 10px;
    }
    .h2_a{
        margin: 5px 0;
    }
    .blue2{
        margin-top: 10px;
    }
}
