.banner{
    background: url(../../../img/bg.png) 50% no-repeat;
    background-size: cover;
    height: 530px;
}
.banner h1{
    @include text(black,47px,'Poppins-Regular');
    text-align: left;
    line-height: 1.2;
    margin-top: 70px;
}
.banner p{
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    @include text($primary-4,20px,'Poppins-Medium')}
.banner span{
    @include text($primary-1,47px,'Poppins-Regular');
}
hr{
    width: 95%;
    margin-left:2px;
    margin: 20px 0;
    position: relative;
    height: 5px;
    background: $primary-4;
}
hr:after{
    content: '';
    width: 105px;
    height: 5px;
    background-color: red;
    display: block;
    position: absolute;
    // top:-15px;
}

.red2{
    text-transform: uppercase;
    background-color:  $primary-2;
    border: none;
    @include text(white,12px,'Poppins-Bold');
    padding: 20px 70px;
    border-radius: 5px;
    margin-top: 60px;
}
.imgpos{
    position: relative;
}
.im{
    position: absolute;
    top: 240px;
    z-index: 1000;
}
.red2:hover{
    background-color: $l1-2;
}

/*form styles*/
.formbg{
    margin-top: 70px;
    background-color: $primary-1;
    background-size: cover;
    // text-align: center;
    padding: 10px 0;
}
label{
    @include text(white,13px,'Poppins-Medium');
    text-align: left
}
#opt{
    @include text($l2-4,13px,'Poppins-Regular');
}
.btn{
    margin-top: 30px;
    color:white;
    background-color: $d2-1;
    font-family: 'Poppins-Medium' ;
    padding: 0 20px;
    height: 40px;
    width: 100%;
}
@media (max-width: 991px) {
    .gridcol{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

