@font-face{
    font-family: 'Poppins-Bold';
    src: url(../../fonts/Poppins-Bold.woff);
    src: url(../../fonts/Poppins-Bold.woff2);
}
@font-face{
    font-family: 'Poppins-Medium';
    src: url(../../fonts/Poppins-Medium.woff);
    src: url(../../fonts/Poppins-Medium.woff2);
}
@font-face{
    font-family: 'Poppins-Regular';
    src: url(../../fonts/Poppins-Regular.woff);
    src: url(../../fonts/Poppins-Regular.woff2);
}