@font-face{
    font-family: 'Poppins-Bold';
    src: url(../../fonts/Poppins-Bold.woff);
    src: url(../../fonts/Poppins-Bold.woff2);
}
@font-face{
    font-family: 'Poppins-Medium';
    src: url(../../fonts/Poppins-Medium.woff);
    src: url(../../fonts/Poppins-Medium.woff2);
}
@font-face{
    font-family: 'Poppins-Regular';
    src: url(../../fonts/Poppins-Regular.woff);
    src: url(../../fonts/Poppins-Regular.woff2);
}
@font-face{
    font-family: 'Poppins-Light';
    src: url(../../fonts/Poppins-Light.woff);
    src: url(../../fonts/Poppins-Light.woff2);
}
@font-face{
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans.woff);
   }
@font-face{
    font-family: 'Poppins-SemiBold';
    src: url(../../fonts/Poppins-SemiBold.woff);
    src: url(../../fonts/Poppins-SemiBold.woff2);
}
@font-face{
    font-family: 'Poppins';
    src: url(../../fonts/Poppins.woff);
}
