.discount{
    background: url(../../../img/discount/bg.png) no-repeat;
    background-size: contain;
    height: 1000px;
}
.d_h6{
    @include h6;
    color: white;
    font-family: 'Poppins-Regular';
    text-align: center;
    margin: 50px 0px 20px;
}
.d_h2{
    @include h2;
    color: white;
    text-align: center;
}
.d_p{
    @include text(white,20px,'Poppins-Medium');
    text-align: center;}